body{
  background-image:url(../assets/img/fondo.jpg);
 background-size: cover;
 background-repeat: no-repeat;
}

  
h1{ color: green;

font-family: monospace 10px;

  text-align:center ;
  border-style:  solid  ;
  border-color:black ;
  border-radius:  6px;
  margin: 10px 80px 50px 80px;
  }

h2{color :black;

font-family: monospace;


}
header {color: whitesmoke;



}


ul {display: flex;
  flex-wrap: wrap;
 list-style-type:none ;
    overflow: hidden;
    background-color: green;
justify-content:center ;
border-style:  solid  ;
  border-color:white ;
  border-radius:  15px;
}




.lista-gridcontainer{display: grid  ;

 grid-template-columns: 150px 150 px 1fr 1fr ;
 grid-template-rows:  100px 100px 100px 100px  100px 100px;
 margin-top: 50px;
 margin-right: 550px;
 margin-left: 550px;

}

.lista-precios{
display: flex inline-block;
 text-align: center;color: white;
grid-template-columns: 150px 150px 1fr 1fr ;
grid-template-rows: 150px 150px 150px ;

border :3px solid green;

 }


 .consultas{ display: inline-block;

  background-color: #04AA6D;

 background:#e6e6e6;border-style:  solid  ;
  border-color:black ;
  border-radius:  15px;
 margin:50px 250px;
 padding:25px 10px;
 width: 80px 85ppx;
 height: 80px 85px;
 box-sizing:border-box;
 font-family:'Montserrat',sans-serif;
}



p{color :white;
}





 a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;

}



.grid-article{display:grid;
 grid-template-columns: 150px 150 px  150px;
 grid-template-rows:  200px 200px 200px 200px  ;
margin-right: 11%;

}

.grid-index{display:grid;

  color: white;
  border:solid;
  grid-template-columns: 150px 40px 80px;
 grid-template-rows:  110px 50px 50px;
 margin: 15px;
 margin-left: auto;
 margin-right: auto;
  background-color: green; 
padding :15px;

}




.mapagps{display: block;
}

.video{   margin-right: 50px;
  margin-left: 300px;
}


.grid-container{
  display:grid;
  grid-template-areas: "grid-footer";
  background: BLUE;
  border: solid; 155px ;
  border-color: yellow;
  border-radius: 15px;
  text-align: center;
   margin-top: 25px;
  margin-right: 70px;
  margin-left: 70px;
  margin-bottom: 50px;
padding:1px;
}
.grid-item{display: inline;
 
 border-radius: 15px;
  
align-content: center;
  

}
.gridPfooter{display: grid;
  background: linear-gradient(white,red);
  -webkit-background-clip: text;
  color: transparent;  
  font-size: 20PX;
  margin: 2px;
  padding: 20px;
  margin-bottom: 25px;

}

@MEDIA ONLY SCREEN AND (MAX-WIDTH: 768PX){






.encabezado{ color: white;

font-family: monospace;

  text-align:center ;
  border-style:  solid  ;
  border-color:white ;
  border-radius:  15px;
  margin: 10px 10px 10px 10px;
  }
  
    .lista-gridcontainer{ display: inline-block;

 text-align:center ;  
  margin-left: 1px;
  padding: auto;

}
.consultas{ grid;

  background-color: #04AA6D;

 background:#e6e6e6;border-style:  solid  ;
  border-color:black ;
  border-radius:  15px;
margin-left: 1px;
padding-left:auto ;
 font-family:'Montserrat',sans-serif;
}

.li {display: inline-block;
      justify-content: left;


}
.video{ margin: 10px 10px 10px 10px;
  
}

.mandatarios-index.mapagps{grid;
  background-color: #white;
 margin: 5px 5px 5px 70px;
  border: solid  black;
}
.grid-item{display: flex ;
flex-wrap: wrap;
margin-right: 10px;}